@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header .navigation .navbar .navbar-brand .logo{
  height: 45px; 
  width: auto;
}

#header .navigation{
  background-color: #E8E8E8;
}

.navbar .navbar-toggler{
  border-color: white;
}
.navbar .fas{
  font-size: 30px;
}

#header .navigation .navbar .navbar-nav .nav-item .nav-link{
  color: white;
  font-size: 1.5em;
  padding-left: 20px;
  text-align: center;
  display:block;
  font-family: sans-serif;
}

#header .navigation .navbar .navbar-nav .nav-item .nav-link:hover{
  color: #000;
  transition: 0.4s;
}

#header .navigation .navbar .navbar-nav .active .nav-link {
  color:#000000;
}

#bg{
  background-image: url(../images/foto2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 897px; /*disini heightnya tdnya 673*/
  color: white;
  margin-top: -331px;
  margin-bottom: -12px;
  display: block;
}

#bg .jumbotron.jumbotron-fluid{
  padding-top: 415px;
  background: none;
}

#home{
  text-align: center;
  background-color: #E8E8E8;
  padding-bottom: 72px;
}

#home .container.konten h1{
  margin:36px;
}

#home .container.konten h1,h3{
  font-family: Cinzel;
}

#home .container.konten .row{
  margin:11px;
}

#home .container.konten{
  background-color:white;
  margin-top:-60px; /*tadinya 78*/
  padding-bottom:37px;
  display: inline-block;
  font-family: Castoro;
  font-size: 20px;
}

.fas{
  font-size: 55px;
}

.fab{
  font-size: 55px
}

#about{
  background-color: #012D3F;
  padding-top: 16px;
}

#about .container{
  padding: 22px;
}

#about .container.footer .col-lg-6.col-md-6.col-sm-12.col-xs-12{
  font-family: cursive;
  color:#eee;
}

#webbawah{
  background-color: #001F2B;
  padding-top: 10px;
  height: 40px;
  margin-top: -2px;
  padding-bottom: 15px;
  font-family: Castoro;
}

.logososmed i{
  margin-left: 15px;
  margin-top: -10px;
  color: white;
}

html{
  scroll-behavior: smooth;
}

@media only screen and (max-width: 333px){
  #bg .jumbotron.jumbotron-fluid{
  padding-top: 385px;
  }

  .logososmed i{
  margin-left: 15px;
  margin-bottom: 20px;
  }
}