@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
/* Mengimpor font yang diinginkan*/

*{
  margin: 0;
  padding: 0; /* CSS RESET */
  box-sizing: border-box;
}

#header .navigation .navbar .navbar-brand .logo{
  height: 45px; 
  width: auto;  /* Mengatur Besar Logo Website */
}

#header .navigation{
  background-color: #E8E8E8; /* Mengatur Warna Header */
}

.navbar .navbar-toggler{
  border-color: white;   /* Mengatur border atau pinggiran button toggler (hamburger) */
}

.navbar .fas{
  font-size: 30px;   /* Mengatur ukuran tombol toggler (hamburger) */
}

#header .navigation .navbar .navbar-nav .nav-item .nav-link{
  color: white;
  font-size: 1.5em;   /* Mengatur font, warna, ukuran, jarak, dan tata letak teks */
  padding-left: 20px; /* serta tampilan pada header */
  text-align: center;
  display:block;
  font-family: sans-serif;
}

#header .navigation .navbar .navbar-nav .nav-item .nav-link:hover{
  color: #000;       /* Mengatur Warna ketika kursor mengarahkan ke navigasi item di header */
  transition: 0.4s;  /* dan waktu transisi */
}

#header .navigation .navbar .navbar-nav .active .nav-link {
  color:#000000;   /* Mengatur warna saat navbar aktif */
}

#bg{
  background-image: url(../images/dangkalan.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* Mengatur gambar background, ukuran, jarak, dan tampilan */
  height: 885px;          /* serta warna teks di jumbotron */
  color: white;
  margin-top: -331px;
  margin-bottom: -30px;
  display: block;
}

#bg .jumbotron.jumbotron-fluid{
  padding-top: 450px;
  background: none;    /* Mengatur jarak tulisan dan menghapus background default jumbotron */
}

#news{
  padding-bottom: 30px; /* Mengatur jarak konten */
}

#news .container.berita{
  margin-top: -30px;    /* Mengatur jarak konten */
}

#news .container.berita .row .card{
  margin-bottom: 30px;  /* Mengatur jarak konten */
}

#news .container.berita .row .card a{
background-color: orange; /* Mengatur warna tombol pada link beserta warna bordernya */
border-color: orange;
}

#webbawah{
  background-color: #001F2B;
  padding-top: 10px;
  height: 40px;     /* Mengatur warna, tinggi, jarak konten, dan font tulisan */
  margin-top: -2px; /* serta jarak tulisan pada footer */
  font-family: Castoro;
}

body{
  background-color: #E8E8E8; /* Mengatur warna body */
}

@media only screen and (max-width: 333px){
  #bg .jumbotron.jumbotron-fluid{
  padding-top: 410px;         /* Meresponsifkan web dengan media query yang terdapat */
  }                           /* fungsi pengubahan jarak tulisan pada jumbotron dari sebelumnya */
}