@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
/* Mengimpor font yang diinginkan*/

*{
  margin: 0;
  padding: 0; /* CSS RESET */
  box-sizing: border-box;
}

#header .navigation .navbar .navbar-brand .logo{
  height: 45px; 
  width: auto;  /* Mengatur Besar Logo Website */
}

#header .navigation{
  background-color: #E8E8E8; /* Mengatur Warna Header */
}

.navbar .navbar-toggler{
  border-color: white;   /* Mengatur border atau pinggiran button toggler (hamburger) */
}

.navbar .fas{
  font-size: 30px;   /* Mengatur ukuran tombol toggler (hamburger) */
}

#header .navigation .navbar .navbar-nav .nav-item .nav-link{
  color: white;
  font-size: 1.5em;   /* Mengatur font, warna, ukuran, jarak, dan tata letak teks */
  padding-left: 20px; /* serta tampilan pada header */
  text-align: center;
  display:block;
  font-family: sans-serif;
}

#header .navigation .navbar .navbar-nav .nav-item .nav-link:hover{
  color: #000;       /* Mengatur Warna ketika kursor mengarahkan ke navigasi item di header */
  transition: 0.4s;  /* dan waktu transisi */
}

#header .navigation .navbar .navbar-nav .active .nav-link {
  color:#000000;   /* Mengatur warna saat navbar aktif */
}

#bg{
  background-image: url(../images/sunset.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 885px;   /* Mengatur gambar background, ukuran, jarak, dan tampilan */
  color: white;    /* serta warna teks di jumbotron */
  margin-top: -331px;
  margin-bottom: -12px;
  display: block;
}

#bg .jumbotron.jumbotron-fluid{
  padding-top: 450px;
  background: none;    /* Mengatur jarak tulisan dan menghapus background default jumbotron */
}

#gallery{
  padding-bottom: 20px; /* Mengatur jarak konten */
}

#gallery .container.gambar{
  margin-top: -30px;
  margin-bottom: 12px;  /* Mengatur jarak konten */
}

.row img{
  margin-bottom: 20px; /* Mengatur jarak konten, menjadikan kursor sebagai penunjuk dan */
  cursor: pointer;     /* menerapkan filter serta transisi pada foto */
  filter: grayscale(0.75) brightness(0.5);
  transition: 0.3s linear;
}

.row img:hover{
  filter: grayscale(0) brightness(1); /* Membalikan filter seperti biasa, memperbesar elemen (foto) */
  transform: scale(1.1);              /* ketika kursor ditujuan serta penambahan bayangan foto */
  box-shadow: 0px 0px 20px 0px #000000;
}

#webbawah{
  background-color: #001F2B;
  padding-top: 10px;
  height: 40px;     /* Mengatur warna, tinggi, jarak konten, dan font tulisan */
  margin-top: -2px; /* serta jarak tulisan pada footer */
  font-family: Castoro;
}

body{
  background-color: #E8E8E8; /* Mengatur warna body */
}

@media only screen and (max-width: 768px){
  .row img{
  filter: grayscale(0) brightness(1);
  }                                        /* Meresponsifkan web dengan media query yang terdapat */
}                                          /* fungsi pengubahan foto menjadi normal(tanpa efek) dan */
                                           /* fungsi pengubahan jarak tulisan serta penghapusan */
@media only screen and (max-width: 320px){ /* background default pada jumbotron */
  #bg .jumbotron.jumbotron-fluid{
  padding-top: 400px;
  background: none;
  }
}